.email {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80vh;
}

.popup {
  width: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 6rem;
  text-align: center;

  background: white;
  color: rgba(0, 0, 0, 0.61);
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .popup {
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem;
  }
  .MuiGrid-root {
    padding: 0;
  }
}
