.wrapper {
  width: 100%;
}
.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  align-content: flex-start;
  border-radius: 5;
  background: white;
  box-shadow: 2px 2px 2px 1px #d6d6d6, -1px -1px 1px #e6e6e6;
}
.main__label {
  padding: 0 0 0 10px;
  margin: 0 0 10px 0;
  color: #757575;
}
